.bus-container {
  /* bottom: calc(0px - 4px); */
  left: 50%;
  width: 90%;
  z-index: 1;
  bottom: -4px;
  position: absolute;
  transform: translateX(-50%);
}

.bus {
  width: 100%;
  height: auto;
  pointer-events: none;
}
