.bus-container {
  /* bottom: calc(0px - 4px); */
  left: 50%;
  width: 90vw;
  bottom: -4px;
  max-width: 90%;
  position: absolute;
  transform: translateX(-50%);
}

.bus {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

/* Göra en animation så att det ser ut som att bussen kör in första gången. */
