.good-character img,
.evil-character img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.evil-character,
.good-character {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: slide-up 2s ease-in-out;
}

.clickedCharacter {
  opacity: 0.5;
  transform: scale(1.2);
  transition: all 0.1s ease;
}

/* Från höger till vänster (under bussen) */
@keyframes slide-under-bus {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* Nedifrån och upp (window-positionerna*) */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%); /* Startar längst ner */
  }
  50% {
    opacity: 1;
    transform: translateY(0); /* Stannar längst upp */
  }
  75% {
    opacity: 1;
    transform: translateY(0); /* Väntar kvar längst upp i 0.5s */
  }
  100% {
    opacity: 0;
    transform: translateY(100%); /* Åker ner igen */
  }
}

/* Från höger till vänster (bus-left) */
@keyframes slide-right-to-left {
  from {
    opacity: 0;
    transform: translateX(100%) rotate(-60deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-60deg);
  }
}

/* Från vänster till höger (bus-right) */
@keyframes slide-left-to-right {
  from {
    opacity: 0;
    transform: translateX(-100%) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(45deg);
  }
}
