.character-box {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  position: relative;
  background: transparent;
  /* border: 2px solid red; */
}

.character-box.flipped img {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
