.bush-wrapper {
  bottom: 0px; /* Måste fixa så att det inte är -1 px det ska vara noll */
  width: 26%;
  height: 26svh;
  position: absolute;
}

.bush-wrapper-left {
  left: 10%;
}

.bush-wrapper-right {
  left: 70%;
  transform: rotateY(180deg);
}

.bush {
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
}
