.bush-wrapper {
  bottom: 0;
  width: 26%;
  height: 26svh;
  z-index: 30;
  /* height: 25svh; */
  position: absolute;
  /* pointer-events: none; */
}

.bush-wrapper-left {
  left: 10%;
}

.bush-wrapper-right {
  left: 70%;
  transform: rotateY(180deg);
}

.bush {
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  pointer-events: none;
}

/* .bush-container {
  bottom: 0;
  width: 100%;
  height: 60%;
  position: absolute;
} */
