.bush-wrapper {
  bottom: 0;
  width: 26%;
  height: 35%;
  position: absolute;
}

.bush-wrapper-left {
  left: 10%;
}

.bush-wrapper-right {
  left: 70%;
  transform: rotateY(180deg);
}

.bush-container {
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 60%;
  position: absolute;
  pointer-events: none;
}

.bush {
  width: 100%;
  height: 100%;
}
