.restart-button {
  border: none;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--highlight-orange);
  font-family: var(--shortStack);
  background-color: var(--button-green);
}
