.cloud {
  z-index: 1;
  position: absolute;
  filter: invert(10%);
  animation: moveToTheRight infinite;
}

@keyframes moveToTheRight {
  0% {
    /* left: -20vw; */
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* left: 70vw; */
  }
}

@media screen and (orientation: portrait) {
  .cloud {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .cloud {
    display: block;
  }
}
