/* SDK */

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background-color: #000000;
}
#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ui {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  margin-top: 20px;
  animation: loading 1s linear infinite;
}

.loader-logo {
  width: 50%;
}

.loader-text {
  z-index: 5;
  font-family: DosisRegular;
  color: #ffffff;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SPELET */

.game-container {
  /* width: 100vw; */
  /* margin: 0 auto; */
  height: 100svh;
  display: none;
  overflow: hidden;
  position: relative;
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  background-image: url("/assets/background.png");
}

.blur-background {
  filter: blur(3px) grayscale(0.7);
}

.score__text {
  z-index: 2;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: krita;
  border-radius: 5px;
  position: absolute;
  margin-right: 0.5rem;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.timer__text {
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: krita;
  position: absolute;
  border-radius: 5px;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.timer__number {
  margin-left: 0.5rem;
  color: var(--highlight-orange);
}

.score__number {
  font-size: 20px;
  font-family: krita;
  margin-left: 0.5rem;
  color: var(--highlight-orange);
}

@media screen and (orientation: landscape) {
  .game-container {
    display: block;
  }

  /* .spinner,
  .loader-logo {
    display: none;
  } */
}

@media screen and (orientation: portrait) {
  #ui,
  .spinner,
  .loader-logo {
    display: none;
  }
}
