.game-container {
  /* width: 100vw; */
  /* margin: 0 auto; */
  height: 100vh;
  display: none;
  overflow: hidden;
  position: relative;
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  background-image: url("./assets/background.webp");
}

.blur-background {
  filter: blur(3px) grayscale(0.7);
}

.score__text {
  top: 10px;
  left: 10px;
  z-index: 2;
  font-size: 1rem;
  position: absolute;
  margin-left: 0.5rem;
  font-family: "Short Stack";
  color: var(--highlight-darkBlue);
}

.score__number {
  font-family: krita2;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.spinner-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.bounce2 {
  animation-delay: -0.16s;
}
.bounce3 {
  animation-delay: -0.32s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@media screen and (orientation: landscape) {
  .game-container {
    display: block;
  }
}
