@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Audiowide&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Righteous&family=Short+Stack&family=Stalinist+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --modal-background: #323232;
  --highlight-orange: #f9b001;
  --shortStack: "Short Stack";
}

.hide {
  display: none;
}
