@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

@font-face {
  font-family: krita;
  src: url("/assets/fonts/Pencilant Script.otf");
}

@font-face {
  font-family: krita2;
  src: url("/assets/fonts/chawp.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shortStack: "Short Stack";
  --button-green: #008364;
  --modal-background: #323232;
  --highlight-orange: #f9b001;
  --highlight-darkBlue: #003c68;
  --highlight-lightBlue: #0069b3;
}

.hide {
  display: none;
}
